body {
  margin:0px;
  background-color:rgba(0, 0, 59, 1);
  background-image:none;
  position:relative;
  left:-19px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:914px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:914px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:449px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:64px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:24px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2032 {
  position:absolute;
  left:1679px;
  top:41px;
  width:13px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2034 {
  position:absolute;
  left:159px;
  top:36px;
  width:81px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2037 {
  position:absolute;
  left:1792px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2038 {
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2039 {
  position:absolute;
  left:1765px;
  top:38px;
  width:23px;
  height:23px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u2041 {
  position:absolute;
  left:1698px;
  top:39px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2042 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2043 {
  position:absolute;
  left:257px;
  top:17px;
  width:117px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2044 {
  position:absolute;
  left:28px;
  top:22px;
  width:61px;
  white-space:nowrap;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:63px;
  top:30px;
  width:74px;
  height:39px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:64px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2047 {
  position:absolute;
  left:261px;
  top:17px;
  width:110px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2048 {
  position:absolute;
  left:28px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2049 {
  position:absolute;
  left:367px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2050 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:220px;
}
#u2051 {
  position:absolute;
  left:257px;
  top:120px;
  width:683px;
  height:220px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u2052 {
  position:absolute;
  left:2px;
  top:102px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053 {
  position:absolute;
  left:270px;
  top:134px;
  width:658px;
  height:101px;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  text-align:left;
}
#u2055 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:111px;
  top:0px;
  width:216px;
  height:30px;
  text-align:left;
}
#u2057 {
  position:absolute;
  left:2px;
  top:7px;
  width:212px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:327px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2059 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:490px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2061 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2062 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2064 {
  position:absolute;
  left:111px;
  top:30px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2065 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2066 {
  position:absolute;
  left:327px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2067 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2068 {
  position:absolute;
  left:490px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2069 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:66px;
  width:111px;
  height:30px;
  text-align:left;
}
#u2071 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:111px;
  top:66px;
  width:216px;
  height:30px;
  text-align:left;
}
#u2073 {
  position:absolute;
  left:2px;
  top:7px;
  width:212px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:327px;
  top:66px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2075 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:490px;
  top:66px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
