body {
  margin:0px;
  background-color:rgba(0, 0, 59, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:914px;
}
#u408 {
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:914px;
}
#u409 {
  position:absolute;
  left:2px;
  top:449px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:380px;
  background:inherit;
  background-color:rgba(0, 155, 171, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  position:absolute;
  left:225px;
  top:182px;
  width:490px;
  height:380px;
}
#u411 {
  position:absolute;
  left:2px;
  top:182px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:180px;
  background:inherit;
  background-color:rgba(147, 182, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  position:absolute;
  left:225px;
  top:572px;
  width:490px;
  height:180px;
}
#u413 {
  position:absolute;
  left:2px;
  top:82px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:190px;
  background:inherit;
  background-color:rgba(218, 86, 44, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:725px;
  top:182px;
  width:490px;
  height:190px;
}
#u415 {
  position:absolute;
  left:2px;
  top:87px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:180px;
  background:inherit;
  background-color:rgba(226, 187, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:725px;
  top:382px;
  width:490px;
  height:180px;
}
#u417 {
  position:absolute;
  left:2px;
  top:82px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:180px;
  background:inherit;
  background-color:rgba(77, 158, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  position:absolute;
  left:725px;
  top:572px;
  width:490px;
  height:180px;
}
#u419 {
  position:absolute;
  left:2px;
  top:82px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:190px;
  background:inherit;
  background-color:rgba(0, 145, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:1225px;
  top:182px;
  width:490px;
  height:190px;
}
#u421 {
  position:absolute;
  left:2px;
  top:87px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
  background:inherit;
  background-color:rgba(74, 126, 199, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:1225px;
  top:382px;
  width:240px;
  height:180px;
}
#u423 {
  position:absolute;
  left:2px;
  top:82px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
  background:inherit;
  background-color:rgba(118, 66, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:1225px;
  top:572px;
  width:240px;
  height:180px;
}
#u425 {
  position:absolute;
  left:2px;
  top:82px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
  background:inherit;
  background-color:rgba(40, 122, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:1475px;
  top:572px;
  width:240px;
  height:180px;
}
#u427 {
  position:absolute;
  left:2px;
  top:82px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  position:absolute;
  left:10px;
  top:880px;
  width:1920px;
  height:44px;
}
#u429 {
  position:absolute;
  left:2px;
  top:14px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u430 {
  position:absolute;
  left:935px;
  top:894px;
  width:141px;
  height:16px;
  color:#FFFFFF;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  position:absolute;
  left:865px;
  top:888px;
  width:60px;
  height:28px;
}
#u433 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  position:absolute;
  left:150px;
  top:52px;
  width:80px;
  height:48px;
}
#u435 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u436 {
  position:absolute;
  left:239px;
  top:58px;
  width:248px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u437 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:39px;
}
#u439 {
  position:absolute;
  left:1538px;
  top:59px;
  width:224px;
  height:39px;
}
#u440 {
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u442 {
  position:absolute;
  left:1648px;
  top:46px;
  width:122px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u443 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u444 {
  position:absolute;
  left:1616px;
  top:67px;
  width:23px;
  height:23px;
}
#u445 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u446 {
  position:absolute;
  left:1573px;
  top:69px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u447 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u448 {
  position:absolute;
  left:1544px;
  top:65px;
  width:28px;
  height:28px;
}
#u449 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u450 {
  position:absolute;
  left:336px;
  top:249px;
  width:200px;
  height:200px;
}
#u451 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u452 {
  position:absolute;
  left:372px;
  top:459px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u454 {
  position:absolute;
  left:816px;
  top:615px;
  width:95px;
  height:95px;
}
#u455 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u456 {
  position:absolute;
  left:931px;
  top:644px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u458 {
  position:absolute;
  left:809px;
  top:217px;
  width:120px;
  height:120px;
}
#u459 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u460 {
  position:absolute;
  left:939px;
  top:259px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u462 {
  position:absolute;
  left:1344px;
  top:237px;
  width:92px;
  height:92px;
}
#u463 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u464 {
  position:absolute;
  left:1436px;
  top:265px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:62px;
}
#u466 {
  position:absolute;
  left:770px;
  top:441px;
  width:111px;
  height:62px;
}
#u467 {
  position:absolute;
  left:2px;
  top:23px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u468 {
  position:absolute;
  left:891px;
  top:459px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u471 {
  position:absolute;
  left:1425px;
  top:62px;
  width:30px;
  height:30px;
}
#u472 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:53px;
}
#u473 {
  position:absolute;
  left:1459px;
  top:50px;
  width:64px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:53px;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
  background:inherit;
  background-color:rgba(74, 126, 199, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  position:absolute;
  left:1475px;
  top:382px;
  width:240px;
  height:180px;
}
#u476 {
  position:absolute;
  left:2px;
  top:82px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u477 {
  position:absolute;
  left:1248px;
  top:450px;
  width:56px;
  height:56px;
}
#u478 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:1314px;
  top:460px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u481 {
  position:absolute;
  left:336px;
  top:610px;
  width:105px;
  height:105px;
}
#u482 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:475px;
  top:644px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u485 {
  position:absolute;
  left:239px;
  top:190px;
  width:41px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u486 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u487 {
  position:absolute;
  left:740px;
  top:190px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u488 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:740px;
  top:390px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u490 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u491 {
  position:absolute;
  left:740px;
  top:580px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u492 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u493 {
  position:absolute;
  left:1235px;
  top:190px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:1235px;
  top:390px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u497 {
  position:absolute;
  left:239px;
  top:580px;
  width:41px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:1235px;
  top:580px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u501 {
  position:absolute;
  left:529px;
  top:580px;
  width:41px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u503 {
  position:absolute;
  left:1025px;
  top:190px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u504 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u505 {
  position:absolute;
  left:1025px;
  top:390px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:1025px;
  top:580px;
  width:35px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u508 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u509 {
  position:absolute;
  left:1500px;
  top:190px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u510 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u511 {
  position:absolute;
  left:1500px;
  top:390px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u512 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u513 {
  position:absolute;
  left:1500px;
  top:580px;
  width:30px;
  height:21px;
  font-size:8px;
  color:#FFFFFF;
}
#u514 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:570px;
}
#u515 {
  position:absolute;
  left:13px;
  top:182px;
  width:209px;
  height:570px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u516 {
  position:absolute;
  left:2px;
  top:117px;
  width:205px;
  word-wrap:break-word;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u517 {
  position:absolute;
  left:1499px;
  top:640px;
  width:47px;
  height:45px;
}
#u518 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u519 {
  position:absolute;
  left:1562px;
  top:644px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u522 {
  position:absolute;
  left:1314px;
  top:61px;
  width:30px;
  height:30px;
}
#u523 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u524 {
  position:absolute;
  left:1348px;
  top:50px;
  width:65px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:53px;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u526 {
  position:absolute;
  left:1250px;
  top:637px;
  width:50px;
  height:50px;
}
#u527 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:1312px;
  top:644px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u531 {
  position:absolute;
  left:1198px;
  top:61px;
  width:30px;
  height:30px;
}
#u532 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u533 {
  position:absolute;
  left:1238px;
  top:50px;
  width:65px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:53px;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u535 {
  position:absolute;
  left:1516px;
  top:455px;
  width:47px;
  height:47px;
}
#u536 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u537 {
  position:absolute;
  left:1577px;
  top:460px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u539 {
  position:absolute;
  left:630px;
  top:292px;
  width:65px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u540 {
  position:absolute;
  left:8px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u541 {
  position:absolute;
  left:630px;
  top:327px;
  width:65px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u542 {
  position:absolute;
  left:8px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u543 {
  position:absolute;
  left:630px;
  top:362px;
  width:65px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u544 {
  position:absolute;
  left:8px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u545 {
  position:absolute;
  left:630px;
  top:397px;
  width:63px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u546 {
  position:absolute;
  left:8px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u547 {
  position:absolute;
  left:630px;
  top:432px;
  width:65px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u548 {
  position:absolute;
  left:8px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u550 {
  position:absolute;
  left:1087px;
  top:62px;
  width:28px;
  height:28px;
}
#u551 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u552 {
  position:absolute;
  left:1121px;
  top:50px;
  width:65px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:53px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u554 {
  position:absolute;
  left:226px;
  top:182px;
  width:489px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u555 {
  position:absolute;
  left:225px;
  top:572px;
  width:490px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u556 {
  position:absolute;
  left:725px;
  top:182px;
  width:490px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u557 {
  position:absolute;
  left:725px;
  top:382px;
  width:490px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u558 {
  position:absolute;
  left:725px;
  top:572px;
  width:490px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u559 {
  position:absolute;
  left:1225px;
  top:182px;
  width:490px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u560 {
  position:absolute;
  left:1225px;
  top:382px;
  width:240px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u561 {
  position:absolute;
  left:1475px;
  top:382px;
  width:240px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u562 {
  position:absolute;
  left:1225px;
  top:572px;
  width:240px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u563 {
  position:absolute;
  left:1475px;
  top:572px;
  width:240px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:38px;
}
#u564 {
  position:absolute;
  left:1087px;
  top:91px;
  width:436px;
  height:38px;
  font-size:14px;
  color:#FF3399;
}
#u565 {
  position:absolute;
  left:2px;
  top:11px;
  width:432px;
  word-wrap:break-word;
}
