body {
  margin:0px;
  background-color:rgba(0, 0, 59, 1);
  background-image:none;
  position:relative;
  left:-19px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:914px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:914px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:449px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:64px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:24px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2200 {
  position:absolute;
  left:1679px;
  top:41px;
  width:13px;
  height:16px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2202 {
  position:absolute;
  left:159px;
  top:36px;
  width:81px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2205 {
  position:absolute;
  left:1792px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2206 {
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2207 {
  position:absolute;
  left:1765px;
  top:38px;
  width:23px;
  height:23px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u2209 {
  position:absolute;
  left:1698px;
  top:39px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2211 {
  position:absolute;
  left:659px;
  top:17px;
  width:141px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2212 {
  position:absolute;
  left:28px;
  top:22px;
  width:85px;
  white-space:nowrap;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2213 {
  position:absolute;
  left:257px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2214 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:63px;
  top:30px;
  width:74px;
  height:39px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:64px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:259px;
  top:17px;
  width:110px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:28px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2219 {
  position:absolute;
  left:458px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2220 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2221 {
  position:absolute;
  left:357px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2222 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2224 {
  position:absolute;
  left:787px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2225 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2226 {
  position:absolute;
  left:876px;
  top:42px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2227 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2228 {
  position:absolute;
  left:558px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2229 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:710px;
}
#u2230 {
  position:absolute;
  left:257px;
  top:120px;
  width:683px;
  height:710px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u2231 {
  position:absolute;
  left:2px;
  top:347px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  position:absolute;
  left:270px;
  top:134px;
  width:658px;
  height:283px;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  text-align:left;
}
#u2234 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u2235 {
  position:absolute;
  left:111px;
  top:0px;
  width:216px;
  height:30px;
  text-align:left;
}
#u2236 {
  position:absolute;
  left:2px;
  top:7px;
  width:212px;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2237 {
  position:absolute;
  left:327px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2238 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2239 {
  position:absolute;
  left:490px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2240 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2241 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2242 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2243 {
  position:absolute;
  left:111px;
  top:30px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2244 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2245 {
  position:absolute;
  left:327px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2246 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2247 {
  position:absolute;
  left:490px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2248 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:66px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2250 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2251 {
  position:absolute;
  left:111px;
  top:66px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2252 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2253 {
  position:absolute;
  left:327px;
  top:66px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2254 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2255 {
  position:absolute;
  left:490px;
  top:66px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2256 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:102px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2258 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2259 {
  position:absolute;
  left:111px;
  top:102px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2260 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2261 {
  position:absolute;
  left:327px;
  top:102px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2262 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2263 {
  position:absolute;
  left:490px;
  top:102px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2264 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:138px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2266 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2267 {
  position:absolute;
  left:111px;
  top:138px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2268 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2269 {
  position:absolute;
  left:327px;
  top:138px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2270 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2271 {
  position:absolute;
  left:490px;
  top:138px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2272 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2273 {
  position:absolute;
  left:0px;
  top:174px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2274 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2275 {
  position:absolute;
  left:111px;
  top:174px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2276 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2277 {
  position:absolute;
  left:327px;
  top:174px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2278 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2279 {
  position:absolute;
  left:490px;
  top:174px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2280 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:210px;
  width:111px;
  height:68px;
  text-align:left;
}
#u2282 {
  position:absolute;
  left:2px;
  top:26px;
  width:107px;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:68px;
}
#u2283 {
  position:absolute;
  left:111px;
  top:210px;
  width:216px;
  height:68px;
  text-align:left;
}
#u2284 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:68px;
}
#u2285 {
  position:absolute;
  left:327px;
  top:210px;
  width:163px;
  height:68px;
  text-align:left;
}
#u2286 {
  position:absolute;
  left:2px;
  top:26px;
  width:159px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:68px;
}
#u2287 {
  position:absolute;
  left:490px;
  top:210px;
  width:163px;
  height:68px;
  text-align:left;
}
#u2288 {
  position:absolute;
  left:2px;
  top:26px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289 {
  position:absolute;
  left:789px;
  top:17px;
  width:160px;
  height:269px;
  overflow:hidden;
  visibility:hidden;
}
#u2289_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:269px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2289_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:196px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2290 {
  position:absolute;
  left:2px;
  top:67px;
  width:168px;
  height:196px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:90px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2292 {
  position:absolute;
  left:2px;
  top:116px;
  width:168px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2293 {
  position:absolute;
  left:24px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 24, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2294 {
  position:absolute;
  left:2px;
  top:67px;
  width:168px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2295 {
  position:absolute;
  left:24px;
  top:15px;
  width:68px;
  word-wrap:break-word;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 24, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2296 {
  position:absolute;
  left:2px;
  top:165px;
  width:168px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2297 {
  position:absolute;
  left:24px;
  top:15px;
  width:68px;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2298 {
  position:absolute;
  left:2px;
  top:214px;
  width:168px;
  height:49px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2299 {
  position:absolute;
  left:24px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u2300 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:270px;
  height:314px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2301 {
  position:absolute;
  left:810px;
  top:27px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
