body {
  margin:0px;
  background-color:rgba(0, 0, 59, 1);
  background-image:none;
  position:relative;
  left:-19px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:914px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:914px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:449px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:19px;
  top:17px;
  width:1920px;
  height:64px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:24px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2080 {
  position:absolute;
  left:1679px;
  top:41px;
  width:13px;
  height:16px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2082 {
  position:absolute;
  left:159px;
  top:36px;
  width:101px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2085 {
  position:absolute;
  left:1792px;
  top:17px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2086 {
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2087 {
  position:absolute;
  left:1765px;
  top:38px;
  width:23px;
  height:23px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u2089 {
  position:absolute;
  left:1698px;
  top:39px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2090 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2091 {
  position:absolute;
  left:275px;
  top:17px;
  width:127px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u2092 {
  position:absolute;
  left:28px;
  top:22px;
  width:71px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:63px;
  top:30px;
  width:74px;
  height:39px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:64px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2095 {
  position:absolute;
  left:276px;
  top:17px;
  width:126px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2096 {
  position:absolute;
  left:28px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:220px;
}
#u2097 {
  position:absolute;
  left:257px;
  top:120px;
  width:683px;
  height:220px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u2098 {
  position:absolute;
  left:2px;
  top:102px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:270px;
  top:134px;
  width:658px;
  height:71px;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  text-align:left;
}
#u2101 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:111px;
  top:0px;
  width:216px;
  height:30px;
  text-align:left;
}
#u2103 {
  position:absolute;
  left:2px;
  top:7px;
  width:212px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:327px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2105 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:490px;
  top:0px;
  width:163px;
  height:30px;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2108 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:36px;
  text-align:left;
}
#u2109 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u2110 {
  position:absolute;
  left:111px;
  top:30px;
  width:216px;
  height:36px;
  text-align:left;
}
#u2111 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2112 {
  position:absolute;
  left:327px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2113 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u2114 {
  position:absolute;
  left:490px;
  top:30px;
  width:163px;
  height:36px;
  text-align:left;
}
#u2115 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
